* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* #0c8bfd */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    background-color: rgb(241, 244, 247);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

/* FIRST PAGE */
.main-nav {
    /* margin-top: 20px; */
    padding-top: 20px;
    justify-content: space-between;

}

.nav-bar ul {
    gap: 40px;
    list-style: none;
}

.nav-bar ul li {
    color: white;
    font-weight: 500;
}
.company-logo img{
    width: 120px;
    height: auto;
}

hr{
    margin-top: 30px;
}

.section-1{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./Photos/mainBackground.png);
    height: 120vh;
    background-size: cover;
}
.section-1-area{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20%;
    color: white;
    gap: 30px;
    width: 50%;
    padding-inline: 20px;
    position: absolute;
    left: 5%;
}

.primary-button {
    background-color: #6663e9;
    color: white;
    padding: 8px 30px;
    border-radius: 31px;
    transition: 0.2s ease-out;
    text-align: center;
    font-weight: bold;
}

/* LOGO SECTION */

.logo-section{
    position: relative;
    bottom: 75px;
}

.main-logo-section{
    background-color: white;
    padding: 50px 20px 50px;
    justify-content: space-evenly;
    border-radius: 30px;
}

/* SECOND PAGE */

.second-page{
    background-color: rgb(241, 244, 247);
    margin-top: 10px;
}

.second-page h1{
    text-align: center;
}

.state{
    display: flex;
    margin: 0 140px;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
}

.estate h2{
    font-size: 60px;
    font-weight: 600;
    color: #000;  
    text-align: center;  
}

.estate-div{
    height: 420px;
    width: 380px;
    background-image: url(Photos/cardImage1.png);
    border-radius: 25px;
    background-position: center;
    background-size: 750px;
}

.estate-div-ch{
    margin-top: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-left: 15px;
    height: 100px;
    width: 300px;
    border-radius: 20px;
}

.estate-div-text h3{
    font-size: 25px;
    font-weight: 500;
}

.estate-div-text p{
    font-size: 20px;
    font-weight: 500;
    color: #6663e9;
    margin-top: 10px;
}

.cardimage2{
    background-image: url(photos/cardImage2.png);
    background-size: 590px 100%;
    background-position: 0px;
    margin-top: 30px;
}

.cardimage3{
    background-image: url(photos/cardImage3.png);
    background-size: 750px 100%;
    margin-top: 60px;
}
.cardimage4{
    background-image: url(photos/cardImage4.png);
    margin-top: 60px;
}
.cardimage5{
    background-image: url(photos/cardImage5.png);
    margin-top: 30px;
}
.cardimage6{
    background-image: url(photos/cardImage6.png);
}

.state1{
    margin-top: 100px;
}
.state2{
    margin-top: 100px;
}

.cardimage7{
    background-image: url(photos/cardImage7.png);
    
}
.cardimage8{
    background-image: url(photos/cardImage8.png);
    margin-top: 30px;
}
.cardimage9{
    background-image: url(photos/cardImage9.png);
    margin-top: 60px;
}

/* MODERN */

.modern{
    background-color: #f6f8fa;
    z-index: -1;
    padding: 100px 0;
    display: flex;
}

.modern-left{
    position: relative;
}
.modern-left img:nth-child(1){
    height: 108%;
    width: 108%;
}

.modern-left img:nth-child(2){
    height: 550px;
    width: 562px;
    border-radius: 80px;
    object-fit: cover;
    object-position: 60%;
    position: absolute;
    left: 135px;
    bottom: 115px;
}

.modern-right h1{
    color: #000;
    font-size: 62px;
    margin-top: 100px;
}
.modern-right p{
    width: 500px;
    font-weight: 600;
    font-size: 18px;
    opacity: 60%;
    margin: 20px 0 41px 0;
}
.modern-right{
    margin-left: 100px;
}
.next img:nth-child(2){
    left: 60px;
    bottom: 100px;
}

.new{
    padding: 50px 60px;
    /* background-color: #f6f8fa; */
}
.new-div{
    background-color: #6663e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    border-radius: 100px;   
}
.new-div h1{
    font-size: 60px;
    width: 900px;
    text-align: center;
}
input{
    width: 400px;
    padding: 20px 70px;
    border-radius: 30px;
    border-style: none;
    border: none;
	outline: none;
    background-color: #5654d1;
    color: #ffffff;
    font-size: 15px;
}
.new-div div img{
    position: absolute;
    left: 20px;
    top: 15px;
}
.new-div div{
    position: relative;
}
.new-div p{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin: 40px 0;
}
.new-div div a{
    color: #6663e9;
    background-color: #ffffff;
    margin-left: 15px;
    padding: 15px 40px;
    font-weight: 500;
}

.footer-div2{
    display: flex;
    justify-content: space-between;
    background-color: #f6f8fa;
    color: #000000;
    padding: 50px 130px;
}
.footer-div2-ch ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
.footer-div2-ch ul li{
    margin: 0;
    margin-bottom: 10px;
}
.footer-div2-ch p{
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
 
}
.footer-div p{
    margin: 20px 0;
    color: #808080;
}
.footer-div div img{
    margin-left: 10px;
}

li{
    list-style: none;
    color: #808080;
}